<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Facebook" version="7.0.6" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.Facebook" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.2015.Runtime" version="12.0.2.2402" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.Common.VS2010" version="10.0.40219.1" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.Runtime.Common" version="12.0.2402.15" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.Runtime.WebForms" version="12.0.2402.15" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.WinForms" version="10.0.40219.1" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.WinForms.VS2010" version="10.0.40219.1" targetFramework="net45" />
  <package id="MicrosoftReportViewerWebForms" version="11.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="ReportViewer.WebForms" version="12.0.2402.20" targetFramework="net45" />
</packages>